@import "../styles/variables.scss" ;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$font-family-base: dinosaur, sans-serif; 

a {
    text-decoration: none;
}

a:hover, .btn:hover {
    text-decoration: underline;
    color: #FFF;
}


.nav-item {
    color: #FFFF;
}
.contact-h2 {
    font-size: 1.5em;
}
