@import "../styles/variables.scss" ;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* sjekk ut under her */
$primary-color: #2D573A;


.dropdown-toggle {
    background-color: $primary-color;
}

/* sjekk ut over her*/

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-item {
    color: #FFFF;
}
.contact-h2 {
    font-size: 1.5em;
}
